
.request-form {
    margin: auto;
    width: 70%;
    height: 75vh;
    border: 3px solid black;
    padding: 10px;
    background-color: beige;
    overflow: auto;
    
  }

  h1{
    text-align: center;
  }

  
 

  .request-fields{
    padding-left: 250px;
    padding-right: 250px;
    width: 80%;
    margin:  auto;
    text-align: left;
    overflow: auto;
    white-space: nowrap;
   
  }
  
  input{
   
    background-color: aqua;
    overflow: hidden;
   
  }

  textarea{
    
    background-color: aqua;
    resize: none;
   
  }

